@model _6351071047_LTWEB_K63.Models.SACH

@{
    ViewBag.Title = "Xoasach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SÁCH CẦN XÓA</h2>

<h3>Bạn quyết định xóa quyển sách này ?</h3>
<div>
    <hr />
    <h2>THÔNG TIN CHI TIẾT SÁCH</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Tên sách:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tensach)
            </dd>
            <dt>
                Giá bán:
            </dt>
            <dd>
                @String.Format("{0:0,0}", Model.Giaban) VNĐ
            </dd>
            <dt>
                Mô tả:
            </dt>
            <dd style="width:600px; text-align:justify">
                @Html.DisplayFor(model => model.Mota)
            </dd>

            <dt>
                Ảnh bìa:
            </dt>
            <dd>
                <img src="@Url.Content("~/Content/Images/" + Model.Anhbia)" width="120px" />
            </dd>

            <dt>
                Ngày cập nhật:
            </dt>
            <dd>
                @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
            </dd>

            <dt>
                Số lượng tồn:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Soluongton)
            </dd>

            <dt>
                Chủ đề:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CHUDE.TenChuDe)
            </dd>

            <dt>
                Nhà xuất bản:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
            </dd>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
    </div>
