@model _6351071047_LTWEB_K63.Models.SACH

<div class="product_detail">
    <h1>@Model.Tensach</h1>
    <img src="~/Content/images/@Model.Anhbia" alt="@Model.Tensach" style="width: 200px; height: 300px; object-fit: cover;" />
    <p>@Model.Mota</p>
    <h3>Giá: @Model.Giaban VNĐ</h3>
<<<<<<< HEAD
    <div id="Datmua">
        <a href="@Url.Action("ThemGioHang","GioHang", new {iMasach = Model.Masach, strUrl=Request.Url.ToString() })">ĐẶT MUA</a>
=======
    <div class="buy_now_button">
        <button type="button">Buy Now</button>
>>>>>>> 4cfd6914c80ba29ef1d64b8d07152bf623b3943b
    </div>
</div>

